body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.text-knw {
  font-family: "Knewave", cursive;
}

.text-mada {
  font-family: "Mada", sans-serif;
}

.text-gradient {
  background: linear-gradient(to right, #34d399 40%, #a3e635 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Profils */

.avatar{
 justify-content: center;
 margin: auto;
 text-align: center;
 display: flex;
}
.userInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}