body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.userInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.text-knw {
  font-family: "Knewave", cursive;
}

.text-roboto {
  font-family: 'Roboto', sans-serif;
}

.text-gradient {
  background: linear-gradient(to right, #34d399 20%, #a3e635 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type=checkbox]:checked+label.form-check-label {
  text-decoration: line-through;
}

/* Profils */
.avatar {
  justify-content: center;
  margin: auto;
  text-align: center;
  display: flex;
}

.userInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.Quêtes-terminés {
  display: flex;
  flex-direction: column;
}

.Quêtes-journalières {
  display: flex;
  flex-direction: column;
}

.with-bg {
  background-image: url(/src/assets/bg.jpg);
  background-position: center center;
  background-size: cover;
  background-blend-mode: color;
}
